.body{
padding: 0;
width: 90%;
margin: 0 auto;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.headerDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 0 1rem;
}
.bodyDiv{
  padding: 0.7rem;
  background-color:#EAECF0;
  width: 85%;
  margin: 0.2rem 0;
  border-radius: 3px;
  color: #101828;
  text-align: center;
}
.SocialDiv img{
  margin: 1rem;
}

.footerDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* .............. MOBILE VIEW ............ */

@media only screen and (max-width: 768px) {
  .footerDiv {
      /* display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: left; */
      display: block;

  
    }
}